@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Exo 2";
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.customScroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 30px;
}

.customScroll::-webkit-scrollbar-track {
  border-radius: 30px;
}

.customScroll:hover::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

.sidebarScroll::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  border-radius: 30px;
}

.sidebarScroll::-webkit-scrollbar-track {
  border-radius: 30px;
}

.sidebarScroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

.searchTile:hover {
  background-color: #e4e4e7;
}

@media (min-width: 1700px) {
  .warning {
    display: none;
  }
}

@media (max-width: 1700px) {
  .confirm {
    display: none;
  }
}
